table {
  border-collapse: collapse;
  color: #333;
  border: 1px solid #666;
}

table caption {
  font-size: 18px;
  color: orange;
  padding: 10px;
}

table td, table th {
  width: 30px;
  padding: 10px;
  border: 1px solid #666;
}

table td:first-child, table th:first-child {
  color: red;
}

button {
  margin-top: 20px;
}
