$borderStyle : 1px solid #666;
table {
    border-collapse: collapse;
    color: #333;
    border: $borderStyle;
    caption{
        font-size: 18px;
        color: orange; padding: 10px;
      }
    td,th {
        width: 30px; padding: 10px;
        border: $borderStyle;
        &:first-child {
            color: red;
        }
    }
}
  button {
    margin-top:20px;
  }
